<div class="logo">
    <br>
    <img src="assets/images/logo.png" alt="D7 Logo" width="220">
    <br>
    D  E  L  T  A  S  E  V  E  N
    <br>
    math tutor & blockchain services
    <br>                                           -->
</div>
<app-header></app-header>
<div class="all-services">
    <div class="services">
        <div class="service-title">
            MATH TUTORING
        </div>
        <div class="service-desc">
            <ul>
                <li>
                    Algebra
                </li>
                <li>
                    Geometry
                </li>
                <li>
                    Trigonometry
                </li>
                <li>
                    Calculus
                </li>
            </ul>
            <div class="price">
                $50 per hour
            </div>
            
        </div>
    
    </div>
    &nbsp;
    <div class="services">
        <div class="service-title">
            CS TUTORING
        </div>
            <div class="service-desc">
                <ul>
                    <li>
                        Javascript
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        Java
                    </li>
                    <li>
                        Solidity
                    </li>
                </ul>
                <div class="price">
                    $50 per hour
                </div>
                
            </div>
    
    </div>
    &nbsp;
    <div class="services">
        <div class="service-title">
            BLOCKCHAIN DEV
        </div>
            <div class="service-desc">
                <ul>
                    <li>
                        ERC-721 NFT Contracts
                    </li>
                    <li>
                        Custom Smart Contracts
                    </li>
                </ul>
                <div class="price">
                    contact for pricing
                </div>
                
            </div>
    
    </div>
</div>
&nbsp;
<div class="credentials">
    <div class="credentials-title">
        CREDENTIALS
    </div>
    <ul>
        Education
        <li>
            M.Ed. Mathematics - DePaul University
        </li>
        <li>
            B.S. Mathematics - Roosevelt University
        </li>
        <li>
            13 years exp. High School Educator
        </li>
        <br>
        Solidity Contracts
        <li>
            @notLarvaLabs Marketplace
        </li>
        <li>
            @flooredApe Access Token
        </li>
        <li>
            @BoogieVanNFT Custom Shop NFT
        </li>
    </ul>

</div>

<div class="contact">
    <a href="mailto:kenobi@deltaseven.io">
        <img src="./assets/images/contact.webp" alt="contact us" width="50">
    </a>
    
    <br>
    contact us
</div>


